@{
    ViewData["Title"] = "About the Author";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title">About the Author</h1>
            <hr />

            <p class="card-text">
                <strong>Name:</strong> Artem
            </p>



            <div class="mt-4">
                <a href="https://github.com/bbeverlyhillsss" class="btn btn-dark" target="_blank">
                    <i class="bi bi-github"></i> GitHub Profile
                </a>

                <a href="https://github.com/bbeverlyhillsss/Simple-CRM-system-C-Sharp" class="btn btn-outline-secondary" target="_blank">
                    <i class="bi bi-code-slash"></i> Project Repository
                </a>
            </div>
        </div>

    </div>
</div>